//
   Created with JetBrains WebStorm.
   User: yujilong
   Date: 14-4-23
   Time: 下午2:42
   To change this template use File | Settings | File Templates.
doctype
html(lang="en",ng-app)
    head
        meta(charset="utf-8")
        title base angular
        script(src="/plugin/angular.js",type="text/javascript")
    body
        p
            |Nothing here {{'yet' + '!'}}


